@model IronWaterStudio_Test_Stoianova.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Авторизация";
}

<div class="container-xxl">
    <div class="text-center">
        <h1 class="display-4">Вход</h1>
    </div>
    <form method="post" asp-action="Login" class="row col-4 offset-4">
        <div class="form-outline mb-4">
            <label asp-for="Login" class="form-label">Логин</label>
            <input type="text" asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="form-outline mb-4">
            <label asp-for="Password" class="form-label col-5">Пароль</label>
            <input type="password" class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Войти</button>
    </form>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="errorToast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @TempData["ErrorMessage"]
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var message = '@TempData["ErrorMessage"]';
            if (message) {
                var toastEl = document.getElementById('errorToast');
                var toast = new bootstrap.Toast(toastEl);
                toast.show();
            }
        });
    </script>
}