@{
    ViewData["Title"] = "Списков продуктов";
}

<div class="container-fluid"> 
    <div class="col-auto">
        <button type="submit" asp-action="Create" class="btn btn-success add-us">Добавить продукт</button>
    </div>
    <div class="row table">
        <form method="post">
            <table class="table table-hover" id="tuser-tbl">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th scope="col">@product.Id</th>
                            <th scope="col">@product.Name</th>
                            <th scope="col">@product.Price.ToString("C")</th>
                            <th scope="col">
                                <button type="submit" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-outline-success actions" title="Изменить">
                                    <span>
                                        <img src="~/pencil-square.svg">
                                    </span>
                                </button>
                            </th>

                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>