@{
    ViewData["Title"] = "Списков продуктов";
}

<div class="row table">
    <form method="post">
        <table class="table table-hover" id="tuser-tbl">
            <thead>
                <tr>
                    <th scope="col">логин</th>
                    <th scope="col">логин</th>
                    <th scope="col">логин</th>
                    <th scope="col">логин</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">логин</th>
                    <th scope="col">логин</th>
                    <th scope="col">логин</th>
                    <th scope="col">логин</th>

                </tr>
            </tbody>
        </table>
    </form>
</div>